<template>
  <v-container>
    <v-card width="400px" class="mx-auto nt-5">
      <v-card-title>
        <h1 class="display-1">{{$t('formTitle')}}</h1>
        <v-spacer></v-spacer>

      </v-card-title>
      <v-card-text>
        <v-form>
          <v-text-field
            name="Username"
            type="email"
            :label="$t('labelUsername')"
            v-model="user.username"
            prepend-icon="mdi-account-circle"
          />
          <v-text-field
            name="Password"
            :label="$t('labelPassword')"
            :type="showPassword ? 'text' : 'password'"
            v-model="user.password"
            prepend-icon="mdi-lock"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
          />
          <v-card-actions>
            <v-btn color="success" @click="signUp(user)">{{$t('buttonSignUp')}}</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="info" @click="login(user)">
              {{$t('buttonLogin')}}
              <v-icon right dark>mdi-login</v-icon>
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>

import {mapActions} from 'vuex'

export default {
  data() {
    return {
      user: {
        username: null,
        password: null,
      },
      showPassword: false,
    };
  },
  methods: {
    ...mapActions('auth', ['login', 'signUp' ]),
  },

};
</script>
