* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.fullPage {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.placeHolder, .loginForm {
  position: relative;
}

.placeHolder {
  width: 50vw;
  height: 100vh;
  background-image: url("../assets/1048171_blue-wallpapers-windows-title-images-clubs-image-photos-walldevil_1920x1200_h.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
}

.sawayoBlock {
  width: 100%;
  margin-top: 45px;
}

.sawayoBlock-title, .sawayoBlock-subtitle {
  text-align: center;
}

.sawayoBlock-title {
  font-size: xx-large;
}

.sawayoBlock-subtitle {
  color: #8b8b8b;
  font-size: large;
}

.loginForm form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

form div {
  width: 100%;
}

input {
  outline: none;
}

div label {
  padding: 16px;
}

.inputField {
  display: flex;
  border-bottom: 2px solid #dbdbdb;
  width: 100%;
  margin-bottom: 40px ;
  height: 40px;
  padding: 16px;
}

.inputField:focus {
  border-bottom: 2px solid blue;
}

.background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

.background input{
  display: none;
}

.background .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  border: 2px solid rgb(32, 12, 143);
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.background .button:hover {
  background-color: rgb(32, 12, 143);
  color: white;
  border-color: white;
}

input:checked ~ .button {
  animation: button 0.5s ease 0.1s forwards, buttonScale 5s 1s forwards;
}

.svg {
  position: absolute;
  z-index: 4;
  width: 45px;
  height: 45px;
}

.svg .check {
	stroke: rgb(32, 12, 143);
	fill: none;
	stroke-width: 12;
	stroke-dasharray: 400;
  stroke-dashoffset: 400;
}

.background input:checked ~ .svg {
  animation: scale 3s forwards;
	animation-delay: 1s;
}

.background input:checked ~ .svg .check {
	animation: check 0.5s linear forwards;
}

@keyframes button {
  0% {
    width: 260px;
    height: 60px;
    border-color: white;
    color: white;
    background-color: white;

  }
  100% {
    width: 60px;
    height: 60px;
    border-color: rgb(32, 12, 143);
    color: transparent;
    background-color: white;
  }
}

@keyframes buttonScale {
  0%{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: scale(1);
    border: 2px solid rgb(32, 12, 143);
  }
  100%{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(32, 12, 143);
    transform: scale(20);
  }
}


@keyframes check {
  0% { stroke-dashoffset: -400;
    opacity: 1;
  }
  100% { stroke-dashoffset: 0;
  opacity: 1; }
}

@keyframes scale {
	0% {
    opacity: 1;
		transform: scale(1);
	}
	100%{
    opacity: 1;
		transform: scale(10)
	}
}
