<template>
  <div class="fullPage">
    <div class="placeHolder"></div>
    <div class="loginForm">
      <div class='sawayoBlock'>
        <h2 class='sawayoBlock-title'>SAWAYO</h2>
        <p class='sawayoBlock-subtitle'>Test project</p>
      </div>
      <form>
        <div>
          <input
            class="inputField"
            type="email"
            name="username"
            id="username"
            placeholder="Email"
            v-model="username">
        </div>
        <div>
          <input
            class="inputField"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            v-model="password">
        </div>
        <div class="background">
          <input
            type="checkbox"
            id="button">
          <label
            for="button"
            class="button"
            id="check"
            @click="login">Login</label>
          <svg class="svg" x="0px" y="0px" viewBox="0 0 140 140">
            <path class="check" d="M126.8,14L55.7,85.1L29.2,63.4"/>
          </svg>
        </div>
      </form>
      <p>Some text</p>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  data() {
    return {
      username: null,
      password: null
    }
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.username, this.password)
        .then(() => {
          setTimeout(() => {
            localStorage.setItem('userUid', firebase.auth().currentUser.uid);
            if(localStorage.getItem('userUid')){
              this.$router.replace({ name: "Home" });
            }
          }, 3000);
        })
        .catch((error) => {
          console.error(error);
        });
    },
    signUp() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.username, this.password)
        .then(() => {
      const uid = firebase.auth().currentUser.uid;
          firebase.database().ref("users").push(
            {
              username: this.username,
              uid
            }
          )
          this.login();
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  watch: {
    locale(val) {
      this.$i18n.locale = val;
    },
  },
}
</script>
<style src="./main.css" scope></style>
