<template>
  <v-container>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          :disabled="isAdmin"
        >{{$t('buttonDialog')}}
        </v-btn>
      </template>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn
            icon
            dark
            @click="close()"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="newPostSave(); close()">{{$t('savePost')}}</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="newPost.title"
                :label="$t('titleDialog')"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                v-model="newPost.description"
                :label="$t('descriptionDialog')"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  data() {
    return {
      dialog: false,
      newPost: {
        title: null,
        description: null
      }
    }
  },
  computed: {
    ...mapGetters('auth', {
      isAdmin: 'isAdmin'
    })
  },
  methods: {
    ...mapActions('posts', {
      savePost: 'addNewPost'
    }),
    close(){
      this.newPost.title = this.newPost.description = null;
      this.dialog = !this.dialog;
    },
    newPostSave() {
      const result = {
          title: this.newPost.title,
          description: this.newPost.description,
          date: new Date().toLocaleString()
      }
    this.savePost(result);
    }
  },

}
</script>
