<template>
    <v-card
      class="mb-4"
      max-width="400px"
    >
    <img v-lazyload :data-src="srcImage" height="200px">
      <v-card-title>{{post.title}}</v-card-title>
      <v-card-title>{{post.description}}</v-card-title>
      <v-card-subtitle class="text-right">{{post.date}}</v-card-subtitle>
    </v-card>
</template>

<script>

import lazyload from '../derictives/lazyload'

export default {
  props:['post', 'srcImage'],
  data() {
    return {
      isActive: false
    }
  },
  directives: {
    lazyload
  }
}
</script>
