<template>
  <v-container>
    <div>
    <NewPost />
    </div>
    <div class="d-flex align-start justify-space-around flex-wrap">
      <template v-for="(post, index) in postsList">
          <MyPost :key="index" :post="post" :srcImage='srcImage' />
      </template>
    </div>
  </v-container>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'
import CreatePost from './NewPost'

import Post from './Post'
export default {
  components: {
    MyPost: Post,
    NewPost: CreatePost
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters('posts', {
      postsList: 'getPostsList',
      key: 'getKey',
      srcImage: 'getUrlImage'
    }),
  },
  methods: {
    ...mapActions('posts', {
      postsFromFirebase: 'postsFromFirebase',
      getImageUrlFromFirebase: 'getImageUrlFromFirebase',
      loadPosts: 'loadPosts'
    }),
    lazyloadFirebase() {
      window.onscroll = () => {
        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          this.loadPosts(this.key);
        }
      }
    }
  },
  async created() {
    await Promise.all([
      this.postsFromFirebase(),
      this.getImageUrlFromFirebase(),
      ]
    )
  },
  mounted() {
    this.lazyloadFirebase();
  },
}
</script>
