<template>
  <v-container>
          <v-card-title>
            {{$t('tableTitle')}}
            <v-spacer></v-spacer>
          </v-card-title>
            <v-data-table
              :headers="headers"
              :items="users"
              :hide-default-footer = true
            ></v-data-table>
  </v-container>
</template>

<script>

import {mapGetters} from 'vuex'

export default {
  data() {
    return {
      headers: [
        {
          text: 'uid',
          align: 'center',
          sortable: false,
          value: 'uid'
        },
        {
          text: 'Username',
          align: 'center',
          sortable: false,
          value: 'username'
        }
      ],
    }
  },
  computed: {
    ...mapGetters('users', {
      users: 'getUsersList'
    })
  },
  async created() {
    return this.$store.dispatch('users/usersFromFirebase')
  },

}
</script>
