<template>
  <v-app>
    <v-app-bar max-height="78">
      <v-toolbar-title class="pt-2">{{$t('toolbarTitle')}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-select
        style="width: 80px; margin: 0; padding-top: 45px"
        v-model="$i18n.locale"
        :items="langs"
        :label="$t('language')"
        append-icon="mdi-translate"
        outlined>
      </v-select>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <v-btn
          color="red"
          dark
          :disabled='!currentUserAuth'
          @click="signOut"
        >{{$t('buttonSignOut')}}<v-icon right>mdi-export</v-icon></v-btn>
      </v-toolbar-title>
    </v-app-bar>
  <router-view></router-view>
  </v-app>
</template>

<script>

import {mapGetters,mapActions} from 'vuex'

export default {
  data() {
    return {
      langs: ['ru', 'en']
    }
  },
  computed: {
    ...mapGetters('auth', {
      currentUserAuth: 'currentUserAuth'
    })
  },
  methods: {
    ...mapActions('auth', {
      authStatus: 'authStatus',
      signOut: 'signOut'
    })
  },
  created() {
    this.authStatus();
  },

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
